<li>
	{{burger_name}}

	<button class="btn btn-outline-success btn-sm" id="change-devour" data-id="{{id}}" data-devour="{{devoured}}">
		{{#if devoured}}Eatburguesa!{{else}}Moreburguesa!{{/if}}
	</button>

	<button class="btn btn-outline-warning btn-sm" id="delete-burger" data-id="{{id}}">Badburguesa!</button>

</li>
